@font-face {
	font-family: 'Golos Text';
	src: local('Golos Text Regular'), local('GolosText-Regular'), url('../fonts/Golostextregular.woff2') format('woff2'), url('../fonts/Golostextregular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Golos Text';
	src: local('Golos Text DemiBold'), local('GolosText-DemiBold'), url('../fonts/Golostextdemibold.woff2') format('woff2'), url('../fonts/Golostextdemibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Golos Text';
	src: local('Golos Text Medium'), local('GolosText-Medium'), url('../fonts/Golostextmedium.woff2') format('woff2'), url('../fonts/Golostextmedium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Golos Text';
	src: local('Golos Text Medium'), local('GolosText-Medium'), url('../fonts/Golostextbold.woff2') format('woff2'), url('../fonts/Golostextbold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	font-family: 'Golos Text';
	color: #000;
	background-color: #fff;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
}

.container {
	max-width: 1230px;
	padding: 0 10px;
	margin: 0 auto;
}

a {
	color: #fff;
	text-decoration: none;
}

h2 {
	font-size: 23px;
	line-height: 28px;
	font-weight: 600;
}

/*!HEADER*/
.header {
	padding-bottom: 100px;
}

.header__nav {
	background-color: #fff;
	width: 100vw;
	position: fixed;
	height: 80px;
	z-index: 1001;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	background-color: #fff;
	top: 0;
	max-width: 1200px;
	width: 100%;
	padding: 0 15px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1000;
	height: 80px;
}

.nav::after {
	content: '';
	position: absolute;
	width: 100vw;
	height: 2px;
	top: 80px;
	left: 50%;
	transform: translateX(-50%);
	background-color: #E0E0E0;
}

.logo {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo__text {
	text-transform: uppercase;
	color: #3E4A70;
	font-weight: 700;
	line-height: 24px;
	font-size: 20px;
	margin-left: 15px;
}

.nav__items {
	display: flex;
	align-items: center;
}

.telegram,
.whatsapp {
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
	position: relative;
	padding-left: 27px;
}

.telegram::before,
.whatsapp::before {
	position: absolute;
	width: 20px;
	height: 20px;
	top: 0;
	left: 0;
}

.nav__link-whatsapp,
.nav__link-telegram {
	color: #000;
	margin-right: 20px;
}

.nav__link-whatsapp::before {
	content: url(../img/whatsapp.svg);
}

.nav__link-telegram::before {
	content: url(../img/telegram.svg);
}

.nav__button {
	margin-left: 20px;
	border: 2px solid #3E4A70;
	background-color: #fff;
	border-radius: 0px;
	color: #3E4A70;
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	padding: 10px 28px;
}

.button {
	border: 2px solid #3E4A70;
	background-color: #3E4A70;
	border-radius: 0px;
	color: #fff;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	padding: 10px 27px;
}

.header__tabs {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 80px;

}

.header__tab {
	color: #333333;
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
	padding: 31px 18px;
	transition: .3s all ease;
}

.header__tab--active {
	color: #3E4A70;
	background-color: #E3EEFF;
}

.header__tabs-content {
	display: none;
	background-color: #3E4A70;
	color: #fff;
	position: relative;
	padding-left: 400px;

}

.header__tabs-content--active {
	display: block;

}

.header__slider-content {
	z-index: 10;
	padding: 100px 0;
}

.slider__inner {
	display: flex;
	justify-content: center;
	max-width: 464px;
	flex-direction: column;
}

.tabs-content__title {
	color: #fff;
	font-weight: 600;
	font-size: 25px;
	line-height: 30px;
	margin-bottom: 30px;
}

.tabs-content__suptitle {
	color: #fff;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	margin-bottom: 30px;
}

.tabs-content__items {
	margin-bottom: 30px;
}

.tabs-content__item {
	color: #fff;
	margin-bottom: 15px;
	padding-left: 36px;
	position: relative
}

.tabs-content__item::before {
	content: '';
	position: absolute;
	height: 2px;
	width: 20px;
	background-color: #fff;
	top: 30%;
	left: 0;
}

.tabs-content__button {
	color: #fff;
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	border: 1px solid #F85F73;
	background-color: #F85F73;
	padding: 14px 35px;
	max-width: 200px;
}

.slider__img {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	z-index: -1;
}

.slick-dots {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 34px;
	position: absolute;
	top: 93%;
	left: 50%;
	transform: translateX(-50%)
}

.slick-dots li {
	content: url(../img/dot.svg);
	width: 10px;
	height: 10px;
	cursor: pointer;
}

.slick-dots .slick-active {
	content: url(../img/dot-active.svg);
	width: 14px;
	height: 14px;
}

/*!QUETION*/
.quetion {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding-bottom: 100px;
	padding-left: 30px;
	padding-right: 20px;
}

.quetion__title {
	padding-bottom: 57px;
}

.quetion__text {
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	padding-left: 50px;
	max-width: 769px;
	position: relative
}

.quetion__text+.quetion__text {
	margin-top: 30px;
}

.quetion__text span {
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
}

.quetion__text::before {
	position: absolute;
	content: url(../img/quetion-img.svg);
	width: 35px;
	height: 35px;
	top: 0;
	left: 0;
}

/*!ADVANTAGE*/

.advantage {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-bottom: 100px;
}

.advantage__title {
	padding-bottom: 70px;
	text-align: center;
}

.advantage__content {
	display: grid;
	grid-template-columns: repeat(3, 370px);
	grid-template-rows: repeat(2, 328px);
	gap: 30px;
}

.advantage__box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 15px 30px;
	border-left: 4px #8FAEE6 solid;
	box-shadow: 3px 3px 10px 1px rgb(110, 110, 110);
}

.advantage__box-img {
	margin-bottom: 48px;
	object-fit: cover;
}

.advantage__box-title {
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	margin-bottom: 30px;
}

/*!STEPS*/

.steps {
	padding-bottom: 100px;
}

.steps__inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}

.steps__title {
	margin-bottom: 23px;
}

.steps__suptitle {
	margin-bottom: 31px;
}

.steps__content {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	column-gap: 180px;
	row-gap: 30px;
}

.steps__box {
	flex-basis: 270px;
}

.steps__box-number {
	font-size: 144px;
	line-height: 176px;
	font-weight: 700;
	color: #8FAEE6;
	opacity: 80%;
}

.steps__box-title {
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	color: #8FAEE6;
	padding-left: 16px;
	position: relative;
	margin-bottom: 34px;
}

.steps__box-title::before {
	content: '';
	position: absolute;
	height: 30px;
	width: 3px;
	top: -13%;
	left: 0;
	background-color: #8FAEE6;
}

/*!FOR*/

.for {
	padding-bottom: 100px;
}

.for__inner {
	display: flex;
	flex-direction: column;
	row-gap: 40px;
}

.for__box {
	display: flex;
	align-items: center;
	box-shadow: 3px 3px 20px 1px rgb(110, 110, 110);
	border-right: 4px #8FAEE6 solid;
}

.for__box-img {
	object-fit: cover;
	flex-basis: 470px;
}

.for__content {
	display: flex;
	flex-direction: column;
	padding-left: 65px;
	padding-right: 70px;
	width: 100%;
}

.for__content-title {
	margin-bottom: 37px;
}

.for__content-button {
	margin-top: 33px;
	width: 202px;
}

.for__content-item {
	padding-left: 35px;
	position: relative;
	margin-top: 17px;
}

.for__content-item::before {
	content: '';
	position: absolute;
	width: 20px;
	height: 2px;
	top: 50%;
	left: 0;
	background-color: #000;
}

/*!SPONSOR*/
.sponsor {
	padding-bottom: 100px;
}

.sponsor__title {
	text-align: center;
	margin-bottom: 73px;
}

.slick-track {
	position: relative;
}

.sponsor__img {
	flex-basis: 270px;
	padding-left: 10px;
	padding-right: 10px;
}

.slick-prevarrow,
.slick-nextarrow {
	position: absolute;
	top: 50%;
	z-index: 10;
	transform: translate(50%, -50%);
	cursor: pointer;
}

.slick-prevarrow {
	left: -5%;
}

.slick-nextarrow {
	right: -5%;
}

.sponsor__dots {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 54px;
	position: absolute;
	bottom: -10%;
	left: 50%;
	transform: translateX(-50%);
}

.sponsor__dots li {
	content: url(../img/sponsor-dot.svg);
	width: 10px;
	height: 10px;
	cursor: pointer;
}

.sponsor__dots .slick-active {
	content: url(../img/sponsor-activedot.svg);
	width: 14px;
	height: 14px;
}

/*!FORM*/

.form {
	padding-bottom: 100px;
}

.form__inner {
	display: flex;

	box-shadow: 3px 3px 5px 1px rgb(143, 143, 143);
	border-right: 4px #8FAEE6 solid;
}

.form__img {
	object-fit: cover;
	flex-basis: 586px;
}

.form__content {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.form__content-title {
	margin-bottom: 30px;
}

.form__content-suptitle {
	margin-bottom: 45px;
}

.form__content-items {
	display: grid;
	grid-template-rows: 60px 60px 180px;
	gap: 20px;
	width: 370px;
}

.form__content-input {
	border-radius: 0;
	border: 2px #BDBDBD solid;
	padding: 20px;
	color: #000;
	resize: none;
	font-family: 'Golos Text';
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
}

.form__content-input::placeholder {
	font-family: 'Golos Text';
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
}

.button__wraper {
	width: 100%;
}

.form__content-button {
	margin-top: 30px;
	float: right;
}

/*!FOOTER*/
.footer {
	background-color: #3E4A70;
	padding: 100px 0;
}

.footer__inner {
	display: flex;
	justify-content: space-between;
}

.footer__logo {
	display: flex;
	flex-direction: column;

	justify-content: start;
}

.footer__logo-box {
	display: flex;
	align-items: center;
}

.footer__logo-text {
	color: #fff;
}

.logo__suptext {
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	margin-top: 15px;
}

.footer__item+.footer__item {
	margin-top: 15px;
}

.footer__link {
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
}


.footer__info {
	display: flex;
	flex-direction: column;
	justify-content: start;
}

.footer__addres {
	margin-bottom: 15px;
}

.footer__mail {
	margin-bottom: 15px;
}

.footer__link-whatsapp {
	margin-right: 20px;
}

.footer__link-whatsapp::before {
	content: url(../img/footer-whatsapp.svg);

}

.footer__link-telegram::before {
	content: url(../img/footer-telegram.svg);
}


/*!MODAL*/

.modal {
	display: none;
	position: fixed;
	bottom: 2%;
	left: 50%;
	transform: translateX(-50%);
	margin: auto;
	background: #fff;
	z-index: 2000;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
	width: 550px;
	height: 95vh;
	box-shadow: 3px 3px 10px 1px rgb(143, 143, 143);
	padding-top: 30px;
	padding-bottom: 20px;
}

.modal__inner {
	overflow: auto;
	direction: rtl;
}

.modal--active {
	display: flex;
}

.modal__exit {
	object-fit: cover;
}

.modal__exit span::before,
.modal__exit span::after {
	content: '';
	cursor: pointer;
	position: absolute;
	width: 28px;
	height: 2px;
	top: 3%;
	right: 3%;
	background-color: #3E4A70;
}

.modal__exit span:hover::before,
.modal__exit span:hover::after {
	background-color: red;
}

.modal__exit span {
	content: '';
	cursor: pointer;
	position: absolute;
	width: 28px;
	height: 2px;
	top: 3%;
	right: 3%;
}

.modal__exit span::before {
	transform: rotate(45deg);
}

.modal__exit span::after {
	transform: rotate(135deg);
}

.modal__title {
	margin-bottom: 30px;
}

.modal__suptitle {
	margin-bottom: 30px;
}

.modal__form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	row-gap: 10px;
	direction: ltr;
}

.modal__input {
	width: 100%;
	border: 2px solid #BDBDBD;
	padding: 20px;
	color: #000;
	font-family: 'Golos Text';
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	transition: all .3s
}

.modal__input:focus {
	border-color: #ff8383;
	color: #fc4949;
}

.modal__input::placeholder {
	font-family: 'Golos Text';
	color: #000;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	transition: all .3s
}

.modal__input:focus::placeholder {
	border-color: #ff8383;
	color: #fc4949;
}

.modal__input-wraper {
	display: flex;
	justify-content: space-between;
	column-gap: 10px;
}

.modal__button-wraper {
	width: 100%;
}

.modal__button {
	float: right;
	margin-top: 15px;
}

@media(max-width:1370px) {

	.slick-prevarrow,
	.slick-nextarrow {
		display: none !important;
	}
}

@media (max-width:1230px) {
	.container {
		width: auto;
	}
}
@media (max-width:940px){
	.sponsor__dots{
		width: 78px;
	}
}
@media (max-width:480px){
	.sponsor__dots{
		width: 148px;
	}
}
@media (max-width:450px) {
	.logo__text {
		font-size: 16px;
		line-height: 20px;
	}

	.header__nav {
		display: flex;
	}

	.logo__img {
		width: 38px;
		height: 45px;
	}
	.slick-slide img {
    display: none;
}
	.nav__items {
		top: 80px;
		padding-top: 0px;
		width: 100vw;
		left: 50%;
		transform: translateX(-50%);
		flex-direction: column;
		row-gap: 10px;
		position: fixed;
		background-color: #fff;
		display: none;
	}

	.nav__items--active {
		display: none;
	}

	.nav__links {
		display: flex;
		column-gap: 20px;
		margin-bottom: 20px;
	}

	.nav__button,
	.nav__link-telegram,
	.nav__link-whatsapp {
		margin: 0;
	}

	.header__burger {
		width: 30px;
		height: 3px;
		background-color: #333;
		position: relative;
		cursor: pointer;
	}

	.header__burger::after,
	.header__burger::before {
		content: '';
		position: absolute;
		left: 0;
		width: 30px;
		height: 3px;
		background-color: #333;
		cursor: pointer;
	}

	.header__burger::before {
		top: -8px;
	}

	.header__burger::after {
		top: 8px;
	}

	.header__tabs {
		position: fixed;
		top: 190px;
		left: 0;
		z-index: 100;
		flex-direction: column;
		background-color: #fff;
		width: 100vw;
		padding-top: 40px;
		display: none;
	}

	.header__tabs--active {
		display: flex;
	}

	.header__tab {
		padding: 10px 15px;
	}

	.header__tabs-content {
		padding-left: 0;
		background-image: url(../img/slider-mob.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		padding: 100px 20px;
		max-width: 420px;
	}

	.tabs-content__title {
		font-size: 20px;
		line-height: 24px;
		text-align: center;
	}

	.tabs-content__suptitle {
		font-size: 16px;
		line-height: 19px;
		text-align: center;
	}

	.header__slider-content {
		padding: 0;
	}

	.slider__inner {
		align-items: center;
	}


	.header,
	.quetion,
	.advantage {
		padding-bottom: 70px;
	}

	.advantage__content {
		display: flex;
		flex-direction: column;
	}

	.advantage__box {
		display: flex;
		flex-direction: column;
		flex-basis: 350px;
	}

	.steps__content {}
}













/*TODO: add monserat*/